* {
  box-sizing: border-box;
}

*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

.menu {
  list-style: none;
  margin-bottom: 100px;
}

.menu-link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid transparent;
  border-radius: 25px;
}

.menu-link:hover {
  border-color: #fff;
}

.title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 20px;
}

.discription {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  padding: 40px 20px;
}

.btn {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  background: #ff4e50;
  padding: 16px 25px;
  border: 3px solid transparent;
  border-radius: 25px;
}

.btn:hover {
  background: #fff;
  border-color: #ff4e50;
  color: #ff4e50;
}

.btn:active {
  border-color: transparent;
}

.container-fluid {
  min-height: 540px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;
}

.title-2 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
}

.main-wrp {
  padding-bottom: 75px;
}

.link-card {
  cursor: pointer;
  text-decoration: none;
}

.card {
  border: 0;
}

.card-img {
  border-radius: 50%;
  overflow: hidden;
}

.image {
  transition: all 0.4s;
}
.card-img:hover .image {
  transform: scale(1.2);
}

.position-r {
  width: 120px;
  height: 120px;
  margin: auto;
  display: flex;
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  border: #fff solid 4px;
  border-radius: 50%;
  z-index: 10;
}

.icon-tv {
  background-color: #ff4e50;
  background-image: url(../img/icon1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-chemical {
  background: #1cd7ad;
  background-image: url(../img/icon2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-tea {
  background: #ffa507;
  background-image: url(../img/icon3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-fly {
  background: #4e73db;
  background-image: url(../img/icon4.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  padding: 24px;
}

.card-discription {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgb(102, 102, 102);
  line-height: 1.2;
}

@media (min-width: 768px) {
  .container-fluid {
    min-height: 700px;
    background-image: url(../img/header-bg@tablet.jpg);
  }

  .header-wrp {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media (min-width: 960px) {
  .container-fluid {
    min-height: 700px;
    background-image: url(../img/header-bg@desktop.jpg);
  }

  .header-wrp {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
