* {
    box-sizing: border-box;

}

*,
* ::before,
*::after {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 940px;
    margin: auto;
    height: auto;
}

.header-wrp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8rem;
    padding-top: 50px;
}


.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 485px;
    padding: 7px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #222222;
    line-height: 1;
    font-weight: bold;
}

.menu-link:hover {
    color: #fed136;
}

.title-2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.sub-title {
    font-size: 16px;
    font-family: "Droid Serif";
    color: rgb(119, 119, 119);
    font-style: italic;
    text-align: center;
    padding: 1rem;
    margin-bottom: 65px;
}

.box-wrp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.box {
    width: 30%;
    text-align: center;
}

.icon-wrp {
    width: 70px;
    height: 70px;
    border: #fed136 3px solid;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
}

.icon {
    margin: auto;
}

.box-title {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
}

.box-text {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
}

.map-wrp {
    width: 100%;
    max-height: 677px;
    background-color: #222222;
    margin: auto;
    text-align: right;
    padding: 100px 0 20px;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.title-contact {
    font-size: 40px;
    font-family: "Montserrat";
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.form-wrp {
    text-align: center;
}

.contact-form-wrp {
    width: 940px;
    display: flex;
    justify-content: space-between;
    font-size: 0;
    margin-bottom: 28px;
}

.inputs-wrp {
    width: 455px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

.contact-input {
    width: 455px;
    height: 52px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
    padding-left: 1rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
}

.contact-textarea {
    width: 455px;
    height: 210px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
}

.contact-submit {
    width: 240px;
    height: 67px;
    background: #fed136;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-submit:hover {
    transform: scale(1.05);
    opacity: .9;
}

.contact-input,
.contact-textarea {
    box-sizing: border-box;
    margin: 14px 0;
    width: 455px;
    display: block;
    outline: 4px solid transparent;
    outline-offset: -2px;
    transition: outline-color 0.1s;
}

input[type="email"]:focus:invalid,
textarea[name="text-area"]:focus:invalid,
input[name="name"]:focus:invalid {
    outline-color: red;
    transition: outline-color 5s;
}

input[type="email"]:focus:valid,
textarea[name="text-area"]:focus:valid,
input[name="name"]:focus:valid {
    outline-color: green;
    transition: outline-color .4s;
}